.container {
  height: 80vh;
  padding: 0 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  font-size: 50px;
  font-weight: bold;
}

.author {
  text-align: right;
  font-size: 26px;
  font-style: italic;
}
